img {
    width: 100px;
    height: 100px;
}
.pagesNumber {
    display: flex;
 
}

.pagesNumber div{
    display: flex;
    cursor: pointer;
    margin-left: 10px;
}

.selectedPage {
    font-weight: bold;
}